/* #done{
    display: flex;
    width: 80px;
    margin-right:1em;
}
.float-mulitpule{
    min-height:100vh;
}
.float{
    height: 150px;
    width: 150px;
    background:pink;
    border:2px solid red;
display: flex;
}
.fox{
    padding: 1px;
}
.float-layout-one{
         background: #a9e55b;
         padding: 1em 2em;
}
.clearfix::after{
    display:table;
    content:'';
    clear:both;
}
.col{
    width:330px;
   margin-right:3%;
    display: flex;
}
.sidebar-left{
    width:25%;
display: flex;
}
.main{
    width: 50%;
}
.lion{
display: flex;
 background: #a9e55b;
 width:150px;
 border:2px solid black;
 margin-inline:25px;
}
.lion img{
max-width: 100%;
display: flex;
}
.tiger{
    position: absolute;
        color:plum;
        padding: 10px;
}
.lion p{
    text-align: center;
}
.wolf{
    margin-inline: auto;
    padding-inline: auto;
} */
/* *{
    box-sizing: border-box;
} */
/* .mouse{
    width: 330px;
    margin: 20px;
    padding: 50px;
    border: 15px solid green;
} */
/* .sim{
    display: flex;
    justify-content: space-between;
    align-items: center;
   text-align: center;
   list-style-type:none;
   padding: 9px;
   /* width: 90px; */
/* }
#ear{
    background-color: rgba(165, 42, 42, 0.397);
}
#count{
    padding: 21px 66px; 
    color: #ffcf01;
    background-color: #0f171c;
}
#cont{
    padding: 21px 59px;
    background-color: #ffcf01;
    color: #0f171c;
} */ 