.fear{
        background-color: white;
        width:260px;
        border: 27px solid #d5e1ef;
        padding: 20px;
}
.feet{
    width: 160px;
    border: 50px solid #2b7dfa;  
}
div h1{
    align-items: center;
}
div p{
    color: rgba(0, 0, 0, 0.541);
    align-items: center;
}
.map{
        background-color:white;
}